.container
  %h1 GAWI
  %h2 Crime, simplified

  = form_for :search, url: "/search", method: :get do |f|
    = f.text_field :query
    .hide
      = f.text_field :location
    = f.submit :search

    = f.hidden_field :lat
    = f.hidden_field :long

  #approx-loc