.container
  %header#header.clearfix
    %a#logo{href:"/"}
    
    #search-wrapper
      = form_for :search, url: "/search", method: :get do |f|
        = f.select :category, options_for_select(@crime_categories)

        = f.submit :search
        %p
          =link_to "Select Another Location", "#", class: "sex-link show-me-link"
          =link_to "Hide Select", "#", class: "sex-link hide-me-link hide"
        .monkey.hide
          %label.label Location
          = f.select :admin_ward_id, options_for_select(AdminWard.all.order(:name).map{ |c| [c['name'], c['id']] }), class: "select-me", prompt: "Please select"
        
  #sub-header.clearfix
    #gawiscore
      %span#scorelogo
      %p.percent= number_to_percentage(@this_percentage, precision: 2)
      #stars= stars_html(@score_band)
    %ul#stats
      %li
        %span Crime Type
        %h3 #{@crime}
    
      %li
        %span Location
        %h3 
          = @admin_ward.name
          %small within #{@neighbourhood['name']}
            

    
  #content
    .clearfix
      .col-sm-8.p0
        #wiki-info
          %figure
            = image_tag "#{@neighbourhood['id']}.jpg"
            .overlay
              #place
              
      .col-sm-4.p0
        #recommended
          %ul
            %li
              %p
                %strong Better areas for #{@crime}:
                .text-right
                  = @recommended.map{ |r| link_to(r[:name], info_path(crime: params[:crime], admin_ward: r[:url])) }.to_sentence.html_safe
            %li
              %p
                %strong Worse areas for #{@crime}:
                .text-right
                  = @not_recommended.map{ |r| link_to(r[:name], info_path(crime: params[:crime], admin_ward: r[:url])) }.to_sentence.html_safe
            %li
              %p
                %strong Recommended crime for #{@admin_ward.name}:
                .text-right
                  = link_to @recommended_crime[0], info_path(crime: @recommended_crime[1], admin_ward: params[:admin_ward])
  
    .clearfix
      .col-sm-6.p0
        #weather-wrapper.tile
          %h3.tile-ttl 5 day forecast for #{@neighbourhood['name']}
          #weather
        #localfuzz
          #fuzz-ttl
            %h3 LOCAL FUZZ
          #fuzz
       
          
          
      .col-sm-3#twitter
        #twitter.tile
          %h3.tile-ttl
            %i.fa.fa-twitter
            Fuzz Feed
          %a.twitter-timeline{ href: "https://twitter.com/#{@twitter_handle}", data: { widget: { id: "658150254349545472" }, chrome: "nofooter noborders transparent", tweet: { limit: 3 }, screen: { name: "#{@twitter_handle}" } } } } Tweets by @GMPFallowfield
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          / %span.date 25.10.15 04:43
          / %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet      
      .col-sm-3#events
        #events.tile
          %h3.tile-ttl Local Fuzz Events
          #marketdays
          / %span.date 25.10.15 04:43
          / %p Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet          

    #comments
      %h2 Comments
      -@comments.each do |commy|
        %p=commy.blurb
        %hr
      %h3 Add a Comment
      =form_for  :comment, url: index_index_path(crime: params[:crime], neighbourhood: params[:neighbourhood], admin_ward: params[:admin_ward]) do |f|
        =f.text_area :blurb
        =f.submit "Comment"
          
      


    / %h1 Suggested Crew
    / -@crew.each do |crew_menmber|
    /   %p
    /     Name:
    /     =crew_menmber.name
    /   %p
    /     Skill:
    /     =crew_menmber.skill
    /   %p
    /     Cut:
    /     ="#{crew_menmber.rate}%"
    /   %p
    /     Profile:
    /     =crew_menmber.blurb
    /   %p
    /     = mail_to "m.ryder@volcanic.co.uk", subject: "Help my do some crime init?" do
    /       %strong Contact
  #gazeeb0


:javascript
  $(document).ready(function(){

    //WEATHER
    if($("#weather").length > 0){
      $.ajax({
        url: "#{current_host}/api/weather?lat=#{@lat}&long=#{@long}"
      }).success(function(data){
        $("#weather").html(data);
      })
    };

    //FUZZ LIST
    if($("#fuzz").length > 0){
      $.ajax({
        url: "#{current_host}/api/bacon?neighbourhood=#{@neighbourhood_mash.id}"
      }).success(function(data){
        $("#fuzz").html(data);
      })
    };
    
    //Fuzz Events
    if($("#marketdays").length > 0){
      $.ajax({
        url: "#{current_host}/api/this_little_piggy_went_to_market?neighbourhood=#{@neighbourhood_mash.id}"
      }).success(function(data){
        $("#marketdays").html(data);
      })
    };
    
    //Place Description
    if($("#place").length > 0){
      $.ajax({
        url: "#{current_host}/api/place?neighbourhood_name=#{@neighbourhood['name'].split(" ")[0]}"
      }).success(function(data){
        $("#place").html(data);
      })
    };

  });