.container
  %h1 Crime: #{@crime}
  %h2 Neighbourhood: #{@neighbourhood['name']}
  

  #weather
  #fuzz
  #marketdays


:javascript
  $(document).ready(function(){

    //WEATHER
    if($("#weather").length > 0){
      $.ajax({
        url: "#{current_host}/api/weather?lat=#{@lat}&long=#{@long}"
      }).success(function(data){
        $("#weather").html(data);
      })
    };

    //FUZZ LIST
    if($("#fuzz").length > 0){
      $.ajax({
        url: "#{current_host}/api/bacon?neighbourhood=#{@neighbourhood_mash.id}"
      }).success(function(data){
        $("#fuzz").html(data);
      })
    };
    
    //Fuzz Events
    if($("#marketdays").length > 0){
      $.ajax({
        url: "#{current_host}/api/this_little_piggy_went_to_market?neighbourhood=#{@neighbourhood_mash.id}"
      }).success(function(data){
        $("#marketdays").html(data);
      })
    };

  });