.container
  %h1 Crime: #{@crime}
  %h2 Neighbourhood: #{@neighbourhood['name']}
  %h1 Description
  #place
  %h1 Weather
  #weather
  %h1 Local Fuzz
  #fuzz
  %h1 Local Fuzz Events
  #marketdays
  %h1 Suggested Crew
  -@crew.each do |crew_menmber|
    %p
      Name:
      =crew_menmber.name
    %p
      Skill:
      =crew_menmber.skill
    %p
      Cut:
      ="#{crew_menmber.rate}%"
    %p
      Profile:
      =crew_menmber.blurb
  
  


:javascript
  $(document).ready(function(){

    //WEATHER
    if($("#weather").length > 0){
      $.ajax({
        url: "#{current_host}/api/weather?lat=#{@lat}&long=#{@long}"
      }).success(function(data){
        $("#weather").html(data);
      })
    };

    //FUZZ LIST
    if($("#fuzz").length > 0){
      $.ajax({
        url: "#{current_host}/api/bacon?neighbourhood=#{@neighbourhood_mash.id}"
      }).success(function(data){
        $("#fuzz").html(data);
      })
    };
    
    //Fuzz Events
    if($("#marketdays").length > 0){
      $.ajax({
        url: "#{current_host}/api/this_little_piggy_went_to_market?neighbourhood=#{@neighbourhood_mash.id}"
      }).success(function(data){
        $("#marketdays").html(data);
      })
    };
    
    //Place Description
    if($("#place").length > 0){
      $.ajax({
        url: "#{current_host}/api/place?neighbourhood_name=#{@neighbourhood['name'].split(" ")[0]}"
      }).success(function(data){
        $("#place").html(data);
      })
    };

  });