%html
  %head
    %title GAWI - Crime, Simplified
    %meta(charset="utf-8")
    %meta(http-equiv="Content-Language" content="#{@content_language}")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")    
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{src: "https://maps.googleapis.com/maps/api/js"}

  %body
    %p.notice= notice 
    %p.alert= alert 
    = yield
    %footer
      .container
        .row
          .col-md-4.col-md-offset-4
            %p.text-center &copy; GoodLuckToYou @ HackManchester 2015
            %p.text-center= image_tag 'https://www.gnu.org/software/octave/images/donate-bitcoin.png'

/ -if user_signed_in?
/   = link_to('Logout', destroy_user_session_path, :method => :delete)
/ -else
/   = link_to('Login', new_user_session_path)
